*~
*.ali
*.bak
*.gcda
*.gcno
*.o
*.old
*.out
*.swp
*.tmp
sloccount.txt
sloccount.xml
cloc.xml
coverage/
tmp/
gcovr.xml
t
t.adb
t.sh
t.sp
t2.sp
t.tmpl
t2.tmpl
spar
user_io-getline.adb
src/world.ads
bdb_constants.ads
src/bdb/db
gen_constants
builtins.adb
parser_bdb.adb
parser_btree_io.adb
parser_db.adb
parser_dbm.adb
parser_gnat_cgi.adb
parser_hash_io.adb
parser_mysql.adb
parser_mysqlm.adb
parser_pen.adb
parser_sound.adb
pegasock/tester
scanner_res.adb
scanner_res.ads
spar_os-sdl.ads
spar_os.ads
rpm/RPMS/
rpm/SRPMS/
GNUmakefile
src/GNUmakefile
src/pegasock/tester
src/adacgi-1.6/demo
src/adacgi-1.6/minimal
src/adacgi-1.6/search
src/adacgi-1.6/test_cookie
src/adacgi-1.6/test_encode
src/adacgi-1.6/test_send
src/apq-2.1/GNUmakefile
src/apq-2.1/Makeincl
src/apq-2.1/apq-mysql.ads
src/apq-2.1/libapq.a
src/areadline/GNUmakefile
src/areadline/rl
src/testsuite/junit_result.xml

