	abbr, acronym, dfn {
		border-bottom: dotted 1px #999;
		cursor: help;
	}
	a {
	       	text-decoration: none;
	}
    code {
		font-family: "Liberation Mono", monospace;
        font-size: 0.95em;
        background-color: #EEEEEE;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border: 1px solid #CCCCCC;
    }
    tt.key {
		font-family: "Liberation Mono", monospace;
        font-size: 0.95em;
        background-color: #FFFFFF;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border: 1px solid #CCCCCC;
        box-shadow: 0.1em 0.1em 0.2em;
    }
	h2 {
		font-family: "Lucida Sans", "Trebuchet MS", sans-serif;
		font-size: 24px;
        	margin: 1.5em 0 0 0;
        	padding: 0 0 0.3em 0;
        	color: #1c1142;
        	border-bottom: 3px solid #000099;
        	line-height: 1.2em;
        }
	h3 {
		font-family: "Lucida Sans", "Trebuchet MS", sans-serif;
		font-size: 18px;
        	margin: 1.5em 0 0 0;
        	padding: 0 0 0.3em 0;
        	color: #1c1142;
        	border-bottom: 2px solid #000099;
        	line-height: 1.2em;
        }
	h4, h5, h6 {
		font-family: sans-serif;
		font-size: 14px;
        	margin: 1.5em 0 0 0;
        	padding: 0 0 0.3em 0;
        	color: #1c1142;
        	border-bottom: 2px solid #000099;
        	line-height: 1.2em;
        }
	span {
        	/* margin-left: 3.0em 0 0 0; */
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		text-align: left;
		color: black;
	}
	p {
        	/* margin-left: 3.0em 0 0 0; */
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		text-align: left;
        line-height: 1.4em;
        margin-left: 5px;
        margin-right: 5px;
		color: black;
	}
	ol,ul {
        	/* margin-left: 3.0em 0 0 0; */
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		text-align: left;
		color: black;
        line-height: 1.4em;
	}
	.menutext {
		font-family: sans-serif;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		line-height: 120%;
		color: black;
		cursor: pointer;
	}
	.rightmenutext {
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		line-height: 120%;
		color: black;
		cursor: pointer;
	}
	p.rmt {
		margin: 10px;
	}
	p.code { /* the div makes the border */
		margin: 0px 0;
        padding: 5px;
        color: black;
		font-family: courier;
		font-size: 12pt;
		font-weight: normal;
		font-style: normal;
		text-align: left;
	}
	span.code {
		margin: 0px 0;
        color: black;
		font-family: courier;
		font-size: 12pt;
		font-weight: normal;
		font-style: normal;
		text-align: left;
	}
	div.code {
		margin: 5px 0;
        	padding: 0;
        	border: 1pt solid #AEBDCC;
        	background-color: #F3F5F7;
        	color: black;
		border: 1;
		border-style: solid;
		border-width: 1px;
		border-color: black;
		font-family: courier;
		font-size: 12pt;
		font-weight: normal;
		font-style: normal;
		text-align: left;
		width: 95%;
	}
	.code_caption {
		background-color: #dcdced;
		font-family: sans-serif;
		font-size: 12pt;
		font-weight: normal;
		font-style: normal;
		text-align: left;
        padding: 5px;
		color: black;
		cursor: pointer;
	}
	.pkg_label {
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
		text-align: left;
        	color: #1c1142;
	}
	.pkg_param {
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
		text-align: left;
        	color: black;
	}
	img.padded_left {
		margin: 15px 15px 15px 15px;
		float: left;
	        border: 1px solid #000000;
	}
	img.padded_right {
		margin: 15px 15px 15px 15px;
		float: right;
	        border: 1px solid #000000;
	}

