<!-- random.tmpl: Display a random number when the page is loaded -->
<html>
<head>
<title>random.bush example</title>
</head>
<body>
<h1>Your random number between 1 and 100 is</h1>
<p><?bush ? random_number; ?></p>
</body>
</html>

